<VirtualHost *:80>
    ServerName example.com
    ServerAdmin webmaster@localhost

    WSGIDaemonProcess myapp user=ubuntu group=ubuntu threads=5 python-home=/home/ubuntu/myapp/env python-path=/var/www/app
    WSGIScriptAlias / /var/www/app/app.wsgi

    <Directory /var/www/app>
        WSGIProcessGroup myapp
        WSGIApplicationGroup %{GLOBAL}
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
